{% extends "CoreBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('elcore_home') }}">{{ 'home'|trans }}</a></li>
        <li><a href="{{ path('elcore_games_list') }}">{{ 'games'|trans }}</a></li>
        <li><a href="{{ path('elcore_game_home', {slug: game.slug}) }}">{{ game.title }}</a></li>
        <li class="active">{{ coreParty.title|trans }}</li>
    </ol>
{% endblock %}

{% block title %}{{ parent() }} - Active{% endblock %}

{% block body %}
<div class="jeux-actif">
    <h2>Active</h2>
    <p>Game screen to extends in game bundle</p>
</div>
{% endblock %}
