{% extends gameLayout %}

{% block body %}
<div class="checkers-active">
    <div id="grid" style="width:{{ variant.boardSize * 64 }}px">
        {#
            Grid
        #}
        {% set rightSquare = variant.rightSquare ? 1 : 0 %}
        {% if not reverse %}
            {#
                Normal
            #}
            {% for line in 0..(variant.boardSize - 1) %}
                {% for col in 0..(variant.boardSize - 1) %}
                    <div
                        id="grid-{{ line }}-{{ col }}"
                        class="grid-item grid-{{ cycle(['odd', 'even'], (line+col+rightSquare)) }}"
                    ></div>
                {% endfor %}
            {% endfor %}
        {% else %}
            {#
                Reversed
            #}
            {% for line in (variant.boardSize - 1)..0 %}
                {% for col in (variant.boardSize - 1)..0 %}
                    <div
                        id="grid-{{ line }}-{{ col }}"
                        class="grid-item grid-{{ cycle(['odd', 'even'], (line+col+rightSquare)) }}"
                    ></div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {#
            Pieces
        #}
        {% for line in 0..(variant.boardSize - 1) %}
            {% for col in 0..(variant.boardSize - 1) %}
                {% if grid[line][col] %}
                    <div
                        class="
                            piece
                            piece-{{ grid[line][col] is odd ? 'white' : 'black' }}
                            {{ grid[line][col] > 2 ? 'piece-king' }}
                            {{ player.id == slots[(grid[line][col] - 1) % 2].player.id ? 'piece-controlled' }}
                        "
                        data-line="{{ line }}"
                        data-col="{{ col }}"
                        {% if not reverse %}
                            style="left:{{ col * 64 }}px;top:{{ line * 64 }}px"
                        {% else %}
                            style="left:{{ ((grid|length - 1) - col) * 64 }}px;top:{{ ((grid|length - 1) - line) * 64 }}px"
                        {% endif %}
                    ></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
