{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'games'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('elcore_home') }}">{{ 'home'|trans }}</a></li>
        <li><a href="{{ path('elcore_games_list') }}">{{ 'games'|trans }}</a></li>
        <li><a href="{{ path('elcore_game_home', {slug: game.slug}) }}">{{ game.title }}</a></li>
        <li class="active">{{ 'create.game'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
<div class="jeux-preparation">
    <h2>{{ 'create.game.%gametitle%'|trans({'%gametitle%': game.title}) }}</h2>
    {{ form_start(optionsForm) }}
    {{ form_row(optionsForm.coreParty) }}
    {% include creationFormTemplate %}
    {{ form_end(optionsForm) }}
    <div class="clearfix"></div>
</div>
{% endblock %}
