<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li><a href="#">{{ 'open'|trans }}</a></li>
    <li><a href="#">{{ 'close'|trans }}</a></li>
    <li><a href="#">{{ 'delete.slot'|trans }}</a></li>
    <li class="divider"></li>
    <li><a href="#">{{ 'ban'|trans }}</a></li>
    <li class="divider"></li>
    <li><a href="#">{{ 'invite.player'|trans }}</a></li>
    <li><a href="#">{{ 'invite.cpu'|trans }}</a></li>
</ul>