{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'games'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('elcore_home') }}">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'login'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
<h2 class="page-title">{{ 'login'|trans }}</h2>
{% if error %}
    <div class="alert alert-error">{{ error.message }}</div>
{% endif %}

{{ form(loginForm) }}
{% endblock %}
