{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ game.title }} - {{ 'ranking'|trans }}{% endblock %}

{% block body %}
<div id="games-nav">
    <ul class="nav nav-tabs nav-justified">
        <li class="active">
            <a href="{{ path('elcore_game_home', {'slug': game.slug}) }}">{{ game.title }}</a>
        </li>
        <li>
            <a href="{{ path('elcore_game_ranking', {'slug': game.slug}) }}">{{ 'ranking'|trans }}</a>
        </li>
        <li class="disabled">
            <a href="#">{{ 'rules'|trans }}</a>
        </li>
    </ul>
</div>
{% endblock %}