{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}Games{% endtrans %}{% endblock %}

{% block body %}
<div class="jeux-filtre">
	<form action="#" class="form-inline">
		<div class="row">
			<div class="col-md-5">
				<div class="input-group">
					<input type="text" class="form-control input-sm" placeholder="{{ 'Game name'|trans }}">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default input-sm">{{ 'Search'|trans }}</button>
					</span>
				</div>
			</div>
			<div class="col-md-4">
				<select class="form-control input-sm">
					<option selected="selected">{{ 'Filter by'|trans }}</option>
					<option>{{ 'Name'|trans }}</option>
					<option>{{ 'Opponents note'|trans }}</option>
					<option>{{ 'My favorites'|trans }}</option>
				</select>
			</div>
			<div class="col-md-3">
				<div class="input-group">
					<input type="text" class="form-control input-sm" placeholder="2 - 4">
					<span class="input-group-addon input-sm">{{ 'players'|trans }}</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<select class="form-control input-sm">
					<option selected="selected">Catégorie</option>
					<option>Stratégie</option>
					<option>Réflexion</option>
					<option>Cartes</option>
					<option>Stratégie</option>
					<option>Réflexion</option>
					<option>Cartes</option>
					<option>Stratégie</option>
					<option>Réflexion</option>
					<option>Cartes</option>
				</select>
			</div>
		</div>
	</form>
</div>
<hr />
<div class="row jeux-list">
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 {% trans %}Elo{% endtrans %}</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="#" class="block">
			<div class="jeu-item">
				<h3>Echecs<span>1678 Élo</span></h3>
				<small class="nb-player"><span>2</span> joueurs</small>
				<div class="game-desc">
					<p>
						Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
						Sortietur an non...
					</p>
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock %}
