{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ game.title }} - {{ 'ranking'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('elcore_home') }}">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'games'|trans }}</li>
    </ol>
{% endblock %}

{% block body %}
<div id="games-nav">
    <ul class="nav nav-tabs nav-justified">
        <li class="{{ 'active'|onpath('elcore_game_home') }}">
            <a href="{{ path('elcore_game_home', {'slug': game.slug}) }}">{{ game.title }}</a>
        </li>
        <li class="{{ 'active'|onpath('elcore_game_ranking') }}">
            <a href="{{ path('elcore_game_ranking', {'slug': game.slug}) }}">{{ 'ranking'|trans }}</a>
        </li>
        <li class="disabled {{ 'active'|onpath() }}">
            <a href="#">{{ 'rules'|trans }}</a>
        </li>
    </ul>
</div>
{% endblock %}