{% extends "CoreBundle:Games:games.layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'ranking'|trans }}{% endblock %}

{% block body %}
{{ parent() }}
<div class="row">
	<div class="col-md-12">
        <h2 class="game-title"><a href="{{ path('elcore_game_home', {'slug': game.slug}) }}">{{ game.title }}</a> - {{ 'ranking'|trans }}</h2>
		<small class="nb-player"><span>{{ game.nbplayer }}</span> {{ '_.players'|trans }}</small>
        <div class="panel panel-default">
			<table class="ranking table table-striped">
				<thead><tr>
					<th>#</th>
                    <th>{{ 'player'|trans }}</th>
                    <th>{{ 'parties'|trans }}</th>
                    <th>{{ 'wins'|trans }}</th>
                    <th>{{ 'losses'|trans }}</th>
                    <th>{{ 'draws'|trans }}</th>
                    <th>{{ 'elo'|trans }}</th>
				</tr></thead>
				<tbody>
					<tr class="rank-gold"><td>1</td><td><a href="#">rogerDuGhetto</a></td><td>125</td><td>120</td><td>4</td><td>1</td><td>2139</td></tr>
					<tr class="rank-silver"><td>2</td><td><a href="#">alcalyn</a></td><td>159</td><td>99</td><td>45</td><td>11</td><td>2074</td></tr>
					<tr class="rank-bronze"><td>3</td><td><a href="#">roberta</a></td><td>542</td><td>250</td><td>145</td><td>79</td><td>1801</td></tr>
					<tr><td>4</td><td><a href="#">jerry</a></td><td>45</td><td>45</td><td>0</td><td>0</td><td>1756</td></tr>
					<tr><td>5</td><td><a href="#">fabiendupoil</a></td><td>78</td><td>25</td><td>47</td><td>4</td><td>1752</td></tr>
					<tr class="rank-you"><td>452</td><td><a href="#">vous</a></td><td>45</td><td>15</td><td>30</td><td>0</td><td>1421</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
