{% set menus = {
	'open':			not slot.player and not slot.open,
	'close':		not slot.player and slot.open,
	'remove':		not slot.player,
	'ban':			slot.player,
	'inviteplayer':	not slot.player,
	'invitecpu':	not slot.player
} %}

<ul class="dropdown-menu" role="menu">
    <li class="slotmenu-open {% if not menus.open %}disabled{% endif %}">
        <a href="#">{{ 'open'|trans }}</a>
    </li>
    <li class="slotmenu-close {% if not menus.close %}disabled{% endif %}">
        <a href="#">{{ 'close'|trans }}</a>
    </li>
    <li class="slotmenu-remove {% if not menus.remove %}disabled{% endif %}">
        <a href="#">{{ 'delete.slot'|trans }}</a>
    </li>
    <li class="divider">
    </li>
    <li class="slotmenu-ban {% if not menus.ban %}disabled{% endif %}">
        <a href="#">{{ 'ban'|trans }}</a>
    </li>
    <li class="divider">
    </li>
    <li class="slotmenu-inviteplayer {% if not menus.inviteplayer %}disabled{% endif %}">
        <a href="#">{{ 'invite.player'|trans }}</a>
    </li>
    <li class="slotmenu-invitecpu {% if not menus.invitecpu %}disabled{% endif %}">
        <a href="#">{{ 'invite.cpu'|trans }}</a>
    </li>
</ul>
