<div class="widget my-games">
    <div class="widget-head">
        <h3 class="widget-title"><span class="glyphicon glyphicon-tower"></span> {{ 'my.current.parties'|trans }}</h3>
    </div>
    <div class="widget-body">
        {% if current_parties|length == 0 %}
            {{ 'no.current.parties'|trans }}
        {% else %}
            <form action="#" class="form-inline">
                <select name="filter-game" class="form-control smaller">
                    <option value="-1">{{ 'all.games'|trans }}</option>
                        {% for game_id, game_title in games_list %}
                            <option value="{{ game_id }}">{{ game_title }}</option>
                        {% endfor %}
                </select>
                <label><input type="checkbox" name="my-tour" /> {{ 'my.turn'|trans }}</label>
            </form>
            <div class="list-group-container scrollin">
                <div class="list-group">
                    {% for current_party in current_parties %}
                        <a class="list-group-item{% if current_party.my_turn %} my-turn{% endif %}" href="{{ path('elcore_party', {slug_game: current_party.game.slug, slug_party: current_party.party.slug}) }}">
                            <h4 class="list-group-item-heading">{{ current_party.game.title }}</h4>
                            <p class="list-group-item-text">{{ current_party.description }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
