{% extends "ELCoreBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'games'|trans }}{% endblock %}

{% block body %}
<h2>{{ 'login'|trans }}</h2>
{% if error %}
    <div class="alert alert-error">{{ error.message }}</div>
{% endif %}

{{ form(login_form) }}
{% endblock %}
