<div id="login-container">
    <div id="login">
        <div class="user-info">
            <div class="user-info-container">
            <p class="pseudo">{{ player.pseudo }}</p>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs">{{ 'My account'|trans }}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">{{ 'My account'|trans }}</a></li>
                        <li><a href="#">{{ 'My page'|trans }}</a></li>
                        <li class="divider"></li>
                        {% if player.invited %}
                        <li><a href="{{ path('elcore_user_login') }}">{{ 'Log in'|trans }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('elcore_user_signup') }}">{{ 'Sign up'|trans }}</a></li>
                        {% else %}
                        <li><a href="{{ path('logout') }}">{{ 'Log out'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="user-avatar">
            <img src="http://dummyimage.com/120x90.png" class="avatar" alt="{{ player.pseudo }}" />
        </div>
        <div class="user-avatar shadow">
        </div>
    </div>
</div>